/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  background: #0b1220;
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  --vw: 100vw;
  --vh: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100dvh;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0b1220;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
